h1 {
  font-size: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  background: pink;
  

}
p {
  font-size: 20px;
  background: powderblue;
  text-align: center;


}